<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=DESKTOP-5E5S68L\SQLEXPRESS;database=AppraisalsDb;uid=DESKTOP-5E5S68L\super;Trusted_Connection=true;TrustServerCertificate=True" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>